*{
    text-align: center;
    margin: 0;
    font-family: 'Vareela Round', sans-serif;
}

/*
flex properties
*/
 .fotter-nav, .portfolio-items, #main-nav { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

 #main-nav { 
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    padding-bottom: 3PX;


}


.fotter-nav { 
   flex-direction: row;
   padding-top: 7px;
   padding-bottom: 5px;

} 
.student-name-fot{ 
  width: 48%;
  font-size: xx-large;
  margin-left: 2em;
  text-align: left;

}
.back-home{ 
   width: 48%;
   text-align: right;
}

.home-name-fot, .portfolio-name-fot, .contact-nav-name-fot{ 
    display: none;
}





/*
regular css
*/
ul { 
    list-style-type: none;
    padding-inline-start: 0px;
}
nav {
     background-color: burlywood;
     margin: 0;
}
.item  { 
    margin: 2vh auto 5vh;
}

#item-6{ 
    margin-bottom: 0;
}
h3{ 
    margin-top: 5vh;
    color: rgb(37, 30, 19);
}
p{ 
    max-width: 75vh;
    padding: 2vh 12vw 4vh;
   
}

.student-name { 
    text-shadow: 0 0 1px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
}
#student-name-fot{ 
    font-weight: bold;
}
.home, .portfolio, .contact-nav{ 
    background-color: rgb(192, 146, 61);
    border: 1px solid rgb(192, 146, 61);
    
}
.nav-link, .nav-bot { 
   text-decoration: none;
   color: black;

}
.contact-info { 
    padding-bottom: 2vh ;
    width: 70vw;

}

#portfolio{ 
    margin-bottom: 40px;
    font-size: larger;
}
#contact-element { 
    background-color: #ebebeb;
}
#contact-h3{ 
    margin-top: 0;
    padding-top: 5px;
}
.item-1{ 
    padding-top: 5px;

}
footer{ 
    background-color: rgb(192, 146, 61);
}
/*
    images 
*/
img { 
    max-width: 80vw;
    text-align: center;
    margin-top: 5px;
}

#profile-pic { 
    margin-top: 5vh;
    margin-bottom: 5vh ;
    
} 

/*
media tags
*/
@media screen and (min-width: 768px){ 

   img{ 
       max-width: 44vw ;
   }
   #intro-element{ 
    display: flex;
   }
   
   #profile-pic{ 
    display: block;
    order: 2;
    flex: 2;
   }
   .intro-p{ 
       margin-top: 8vh;
       max-width: 38vw;
       text-align: left;
       font-size: 1.2rem;
   }

   #main-nav{
        flex-direction: row;
   }
   .student-name{ 
    width: 100%;
   } 
   .home, .portfolio, .contact-nav{ 
       width: 33%;
   }

   .portfolio-items{ 
       flex-direction: row;
   }
   .item { 
       max-width: 48%;
       flex-flow: column wrap;
   }
   p{ 
       padding-right: 5vw;
       padding-left: 5vw;
   }

   #contact-h3{ 
       font-size: 2em;
   }
   #contact-p{  
        min-width: 49%;
        max-width: 50%;
       text-align: center;
       padding-right: 25%;
       padding-left: 25%;
   }
   .home-name-fot, .portfolio-name-fot, .contact-nav-name-fot{ 
    display: inline;
    width: 15%;
    }
   .back-home{ 
       display: none;
   }
}
@media screen and (min-width: 1024px){

    .item { 
        max-width: 30%;
        flex-flow: column wrap;
    }
    .item-img{ 
        max-width: 100%;
    }
    p{ 
        font-size: 1.2em;  
        min-width: 33%; 
 }
    h3 h2{ 
        font-size: x-large;
    }
    .student-name{ 
        font-size: x-large;
        width: 15vw;
    }
    .home, .portfolio, .contact-nav{ 
        width: 12%;
    }
    .rightinfo{ 
        padding-bottom:.1vh ;
        padding-top:.1vh ;
    }
    .wrong{ 
        padding-bottom: 4vh;
    }
    .contact-info{ 
        text-align: center;
        width: 100%;
    }
    #profile-pic{ 
        max-width: 400px;
    }

}

